.tools/
.dart_tool/
.flutter-plugins-dependencies
build/
*.iml
.idea/
.DS_Store
android/local.properties
android/.gradle/
ios/Pods/
macos/Pods/
**/Flutter/ephemeral/
**/flutter/ephemeral/
*.log
/releases/
.env
.env.*
!.env.example
